@{
  ViewBag.Title = "Home Page";
}

<div class="row">
  <div class="col-sm-8">
    <h2>Demo Project</h2>
    <p>
      This website is based on the latest Microsoft design pattern in Visual Studio 2013 for MVC based web applications.
    </p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865" target="_blank">Learn more &raquo;</a></p>

    <div class="form-horizontal">
      <div class="form-group">
        <label for="typeahead" class="control-label col-sm-2">Typeahead</label>
        <div class="col-sm-6">
          @Html.TextBox(@"typeahead", null, new { @class = @"form-control" })
        </div>
      </div>
      <div class="form-group">
        <label for="datepicker" class="control-label col-sm-2">Datepicker</label>
        <div class="col-sm-6">
          @Html.Hidden(@"datepicker-hidden")
          @Html.TextBox(@"datepicker", null, new { @class = @"form-control" })
        </div>
      </div>
      <div class="form-group">
        <label for="datepicker" class="control-label col-sm-2">Datepicker Range</label>
        <div class="col-sm-6">
          <div class="input-daterange input-group" id="datepicker">
            <input type="text" class="form-control" name="start" value="05/10/2014" disabled=" " />
            <span class="input-group-addon">to</span>
            <input type="text" class="form-control" name="end" />

          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Dropdown</label>
          <div class="col-sm-6 dropdown">
            <a class="btn btn-default dropdown-toggle" id="dropdownMenu" data-toggle="dropdown">Dropdown</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
            </ul>
          </div>
      </div>
    </div>


  </div>
  <div class="col-sm-4">
    <h2>Used libraries</h2>
    <p>
      <ul>
        <li>
          ASP.Net MVC
        </li>
        <li>
          Entity Framework
        </li>
        <li>
          OWIN
        </li>
        <li>
          ASP.Net Identity
        </li>
        <li>
          jQuery
        </li>
        <li>
          Bootstrap
        </li>
      </ul>
    </p>
  </div>
</div>