@{
  ViewBag.Title = "Home Page";
}

<div class="row">
  <div class="col-sm-8">
    <h2>Demo Project</h2>
    <p>
      This website is based on the latest Microsoft design pattern in Visual Studio 2013 for MVC based web applications.
    </p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865" target="_blank">Learn more &raquo;</a></p>
  </div>
  <div class="col-sm-4">
    <h2>Used libraries</h2>
    <p>
      <ul>
        <li>
          ASP.Net MVC
        </li>
        <li>
          Entity Framework
        </li>
        <li>
          OWIN
        </li>
        <li>
          ASP.Net Identity
        </li>
        <li>
          jQuery
        </li>
        <li>
          Bootstrap
        </li>
      </ul>
    </p>
  </div>
</div>